<nav>

    <% if(currentUser) { %>
		<a href="/">Home</a>
		<form action="/sessions?_method=DELETE" method="POST">
			<div style="position:absolute; right:16px; top:8px;"><input type="submit" value="Log Out" /></div>
		</form>
	<% } else { %>
		<a href="/">Home</a>
		<a href="/users/new">Register</a>
		<a href="/sessions/new">Login</a>
	<% } %>
   
</nav>