<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
</head>

<body>
    <%-include("./partials/nav.ejs") %>
    <h1>DASHBOARD</h1>
    <div class="a">
        <a href="/journal/new">Create New Entry</a><br>
        <a href="/journal">View All Entries</a><br>
        <a href="">View Favorite Entries</a><br>
        
        </div>
</body>

</html>