<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Registration Page</title>
</head>

<body>
    <%- include("../partials/nav.ejs") %>
    <h1>Register</h1>
    <form action="/users" method="POST">

        <label for="first">First Name:</label>
        <input type="text" name="first" id="first">

        <label for="last">Last Name:</label>
        <input type="text" name="last" id="last">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <input type="submit" value="Register">
    </form>
</body>

</html>